<header>
  <div class="sliver">
    <ul>
      <li><a href="#" class="link">Universitywide</a></li>
      <li><a href="#"class="link">New Brunswick</a></li>
      <li><a href="#"class="link">RBHS</a></li>
      <li><a href="#"class="link">Newark</a></li>
      <li><a href="#"class="link">Camden</a></li>
      <li><a href="#">Online</a></li>
    </ul>
  </div>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">My Class</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>

  <div class="callout">
    <div class="heading center">
      <h2 class="">My Class</h2>
      <h5>Access All Classes With One Click</h5>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col l5 offset-l1">
         <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content white-text">
                <span class="card-title">Log In</span>
                <p>Already a member of My Class? Log in here!</p>
              </div>
              <div class="card-action">
                <a href="/login" class="waves-effect waves-light index-btn btn"><i class="material-icons index-icon">account_circle</i>Log In</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col l5">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content white-text">
                <span class="card-title">Register</span>
                <p>Not a member of My Class? Students, register here!</p>
              </div>
              <div class="card-action">
                <a href="/register" class="waves-effect waves-light index-btn btn"><i class="material-icons index-icon">add_circle</i>Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






























</main>
