<div class="container">
  <div class="row">
    <div class="col l6 offset-l3">
      <ul class="tabs">
        <li class="tab col l2"><a href="#student">Student</a></li>
        <li class="tab col l2"><a href="#instructor">Instructor</a></li>
      </ul>
    </div>
    <div id="student" class="col s6 offset-s3">
      <form method="POST" action="/student_login">
       <div class="row">
          <div class="input-field col s10 offset-s1">
            <input id="username" type="text" name="username" class="validate">
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btnt">Login</button>
      </form>
    </div>




    <div id="instructor" class="col s10 offset-s1">
      <form method="POST" action="/instructor_login">
       <div class="row">
          <div class="input-field col s10 offset-s1">
            <input id="username" type="text" name="username" class="validate">
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s10 offset-s1">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btnt">Login</button>
      </form>
    </div>
  </div>
</div>
