body{
font-family: 'Montserrat', sans-serif;
background-color: #EBEBEB;
color: #333;
}

main{
  margin-top: 202px;
  padding-top: 15px;
}

header{
  position: fixed;
  z-index:300;
}

/*--------------------------------------------------
  Navigation
--------------------------------------------------*/
#pentagon{
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-left: 100px;
}
.square{
  height: 120px;
  width:190px;
  background-color: #CF1F37;
  position: relative;
}
.square:before{
    content: "";
    position: absolute;
    z-index: 2;
    top: 120px;
    height: 0;
    width: 0;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
    border-bottom: 120px solid transparent;
    border-top: 28px solid #CF1F37;
}
.logo, .date, .year{
  color: #fff;
  position: relative;

}

.logo{
  top: 5px;
  font-size: 40px;
  display: block;
}

.date{
  top: 14px;
  font-size: 12px;
  display: block;
}

.year{
  top: -7px;
  font-size: 40px;
  display: inherit;
  z-index: 3;
}

.sliver{
  top:0;
  height: 40px;
  background-color: #cc0033;
}

.btm_sliver{
  top: 152px;
  height:50px;
  background-color:#333;
}

.sliver,.btm_sliver{
  position:fixed;
  width: 100%;
  color: #fff;
}

.sliver > ul{
  margin-top: 10px;
  padding-left: 91px;
}

.btm_sliver > ul{
  margin-top: 15px;
  padding-right: 107px;
}

.sliver > ul li{
  float: left;
  padding-left: 10px;
}

.sliver > ul li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.btm_sliver > ul li{
  float: right;
  padding-left: 35px;
}

.btm_sliver > ul li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.sliver> ul li a.link {
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.nav-callout{
  position: fixed;
  width: 100%;
  height: 112px;
  top: 40px;
  background-color: #fff;
}

.callout{
  margin-top: 202px;
  height: 556px;
  background-image: url(../images/callout-background.png);
  background-repeat: no-repeat;
  background-position: center center;
}


.card{
  margin-top: 30px;
  background-color: #8F8F8F;
}

.rutgers250{
  position: absolute;
  padding-left: 10px;
  display: inline-block;
  margin-top: 43px;
}

.buttons{
  display: block;
  margin-top: 15px;
  padding-right: 107px;

}

.register{
  background-color: #cc0033;
}

.login{
  background-color: #550C18;
}

.index-btn{
  display: block;
  margin-bottom: 10px;
}

.btn:hover, .btn-large:hover {
  background-color: #6B0F1F;
}

.index-icon{
  padding-right: 15px;
  line-height:  36px;
  display: inline-flex;
  vertical-align: middle;
}

.tabs .tab a {
    color: #cc0033;
 }

.tabs .tab a:hover {
  color: #333333;
}

button.btn {
  background-color: #cc0033;

}

.not-lr{
  display: inline-block;
}

